body{
	background: linear-gradient(to bottom, #9F3E32, #000002);
}

.nav-h ul{
	list-style-type: none;
	text: center;
	border: 1px solid black;
	padding: 20px;
	background: #78190E;
}

.nav-h ul li{
	display: inline;
	margin: 0 10px 0 0;
}

.articulo {
	border: 2px solid black;
	margin-bottom: 10px;
	background: #36233F;
	padding: 5px;
}

footer{
	text-align:center;
	background: #E09955;
}
